{% extends 'main/layout.html' %}

{% block title %}
    главная страница
{% endblock %}

{% block content %}
    <h1>Главная страница</h1>
    <p>Для просмотра списка постов и удаления перейдите по ссылке  все посты в меню Навигация слева </p>
        <p>Для просмотра списка аккаунтов и просмотра статистики перейдите по ссылке все аккаунты в меню Навигация слева </p>
        <p>Чтобы добавить аккаунт перейдите по ссылке добавить аккаунт в меню Навигация слева </p>
        <p>Чтобы добавить пост перейдите по ссылке добавить пост в меню Навигация слева </p>

{% endblock %}